.card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 25px 20px;
  box-sizing: border-box;
  width: 100%;
}

.card__like-box{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__like-count{
  font-size: 13px;
  padding-left: 3px;
  padding-top: 3px;
  width: 10px;
  height: 13px;
  font-weight: 400;
}

